* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ffffff;
}

header {
  padding: 2rem;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.break {
  height: 88vh;
  display: flex;
  justify-content: center;
}

.break--container {
  width: 130rem;
  display: flex;
  flex-direction: rows;
  align-items: center;
  justify-content: center;
  gap: 25rem;
}

.items {
  display: flex;
  align-items: center;
  gap: 5.4rem;
  font-size: 1.6rem;
  list-style: none;
}

.contact {
  padding: 1.2rem 2.8rem;
  background-color: rgb(72, 87, 236);
  color: #ffffff;
  border: none;
}

.contact {
  font-size: 1.1rem;
}

.gameplay--img {
  width: 40%;
}

.title-box {
  width: 40%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 1.7rem;
  row-gap: 1rem;
}

.get-btn {
  padding: 1rem 2.3rem;
  background-color: rgb(72, 87, 236);
  color: #ffffff;
  font-size: 1.1rem;
  border: none;
}

.hand {
  padding-top: 8rem;
  height: auto;
  width: 100%;
}

.box--title {
  font-family: "EB Garamond", serif;
  font-family: "Rubik", sans-serif;
  font-size: 4rem;
  height: 100px;
}
